{{!-- This page will show only 3 blogposts regardless of if the user is logged in or not, and then ask the user to login
--}}
{{!-- Once logged in, then they can potentially view the rest (if i can figure that out) and then they can go to their
own dashboard to post new content --}}

<!-- Modal to handle comments -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form class="form add-comment-form">
          <div class="currentPost">
            <h5 class="currentTitle"></h5>
            <p class="currentDesc"></p>
          </div>

          <div class="form-group">
            <label for="blog-desc-update">Comment:</label>
            <textarea class="form-input add-comment" id="add-comment"></textarea>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary addCommentButton">Add Comment</button>
      </div>
    </div>
  </div>
</div>

<div>
  <h1>Take a look at our most recent blogposts from accredited users! </h1>

  {{#each blogArr}}
  <div class="blogpost">

    <div class="blog-header">
      <h1>{{title}}</h1>
      <div class="nameAndDate">
      <p>Author Name: {{user.name}}</p>
      <p>Post Date: {{format_date date_created}}</p>
      </div>
    </div>

    <p>{{description}}</p>

    {{!-- add a comment --}}
    <div class="comments">
      <ul class="commentsSection"></ul>
    </div>
    {{!-- id = session.id  of the user who is logged in --}}
    <i id="{{id}}" class='far fa-comment comment-button' type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style='font-size:24px'></i>

  </div>
  {{/each}}

</div>
{{#if session.logged_in}}
<div>
  <h5>Add more posts from your Dashboard</h5>
  <button class="btn btn-secondary">
    <a href="/dashboard">Dashboard</a>
  </button>
</div>

{{else}}
<div class="call-to-action">
  <h2>Want to contribute? Sign up or login below!</h2>
  <div class="login-buttons">
    <button class="btn btn-secondary">Login</button>
    <button class="btn btn-secondary">Signup</button>
  </div>
</div>
{{/if}}

{{!-- This page should show all of the posts by the different users AFTER they are logged in --}}
{{!-- We can populate our database with random educational facts about tech - EASY --}}
{{!-- Once logged in, the API for the homepage will get all blog posts --}}
{{!-- the database can have just one table which stores all of the blog posts by all of the users - then if we would
ever want to query by a single user, then we can pass that into the url --}}